.admin-login-page {
    background-color: #161140 !important;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    right: 10px;
    font-size: 14px;
    padding: 10px 0;
    top: 1px;
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px;
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: darkcyan;
    outline: 0;
    box-shadow: #008b8b;
}

.br {
    border-radius: 5px;
}

a:hover {
    text-decoration: none;
}

input[type='checkbox'] {
    accent-color: #FAB23D;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 5px;
    cursor: pointer;
}


label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error,
textarea.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

::-webkit-input-placeholder {
    color: #C6C7C7 !important;
    font-size: 14px;
}

:-moz-placeholder {
   color: #C6C7C7 !important;
   opacity:  1;
   font-size: 14px;
}

::-moz-placeholder {
   color: #C6C7C7 !important;
   opacity:  1;
   font-size: 14px;
}

:-ms-input-placeholder {
   color: #C6C7C7 !important;
   font-size: 14px;
}

::-ms-input-placeholder {
   color: #C6C7C7 !important;
   font-size: 14px;
}

::placeholder {
   color: #C6C7C7 !important;
   font-size: 14px;
}
