#header {
    padding-top: 15px;
}

#header .logo{
    font-size: 30px;
    margin: 0;
}

#header .logo-img{
    display: block;
}

#header .logo-img img{
    width: 100%;
    height: 3rem;
    padding-right: 3rem;
}

#header .search{
    margin: 0 auto;
}

#header .search .form-control{
    border: none;
    background-color: #f5f5f5;
    padding: 22px 10px;
    border-radius: 20px 0 0 20px;
    height: 2.9rem;
}

#header .search .form-control:focus{
    box-shadow: none;
    border: none;
}

#header .search .btn{
    color: #fff;
    background-color: #008b8b;
    font-size: 20px;
    padding: 8px 12px 7.5px;
    border: none;
    border-radius: 0 20px 20px 0;
    transition: all 0.3s ease;
}

#header .search .btn:hover{
    box-shadow: 0 0 3px #333 inset;
}

#header .header-info {
    padding:10px 0;
    text-align: right;
}

#header .header-info li {
    display:inline-block;
    margin-right:15px;
}

#header .header-info li:last-child {
    margin:0;
}

#header .header-info li a {
    font-size:16px;
    color:#666;
    text-transform: capitalize;
    border-radius: 10px;
    position: relative;
    transition: all 0.3s;
}

#header .header-info li a i {
    font-size: 20px;
}

#header .header-info li a:hover {
    color: #008b8b;
}

#header .header-info li a span {
    color: #fff;
    background-color: #008b8b;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 18px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: 0;
}

#header .header-info li i.fa {
    margin:0 5px;
}

.dropdown .dropdown-list {
    padding-left: 1rem !important;
    list-style: none !important;
}

.dropdown .dropdown-list li {
    display: block !important;
}

#header-menu .menu-list {
    height: 57px !important;
    background-color: #008b8b;
    padding: 8px 15px;
    margin: 0 -15px;
    text-align: center;
}

#header-menu .menu-list li {
    display: inline-block;
}

#header-menu .menu-list li a {
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 15px;
    margin: 0 15px 0 0;
    border-radius: 10px;
    display: block;
    transition: all 0.3s;
}

#header-menu .menu-list li a:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#header-menu .menu-list li:first-child {
    float: left;
}

.carousel-item img {
    max-height: 450px !important;
}

#categories .title {
    font-weight: 600;
    text-align: center;
}

#categories .card-content {
    display: flex !important;
    justify-content: center;
    padding: 10px;
}

#categories .card-text {
    display: inline-grid;
}

#categories .card-title {
    float: left;
    font-size: 15px !important;
    font-weight: 800 !important;
    margin: 0;
}

#categories .card-img {
    width: 110px !important;
    height: 110px !important;
    margin-left: 10px !important;
}

body {
    overflow-x: hidden;
    width: 100%;
    background-color: #f8fafc;
}

.product-section {
    padding: 30px 0;
}

.product-section .content {
    min-height: 700px;
}

.product-section .new-arrivals {
    background-color: rgba(0,0,0,0.02);
}

.section-head {
    text-align: center;
    color: #444;
    font-size: 28px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 30px;
}

.section-head:after {
    content: '';
    display: block;
    clear: both;
    width: 150px;
    height: 2px;
    border-top: 2px dashed #e7e7e7;
    margin: 10px auto 0;
}

.product-section .product-grid {
    text-align: center;
    margin: 0 15px 30px;
}
.product-section .product-grid .new-arrival {
    margin: 0;
}

.product-grid .product-image {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 260px;
}

.product-grid .product-image .new-arrival {
    height: 330px;
}

.product-grid .product-image .popular{
    height: 250px;
}

.product-grid .product-image a.image {
    display: block;
}

.product-grid .product-image img {
    width: auto;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.product-grid .product-button-group {
    font-size: 0;
    width: 140px;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.product-grid .product-button-group a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 4px;
    border-radius: 50%;
    color: #008b8b;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transform: scale(0);
    transition: all 0.3s;
}

.product-grid .product-button-group a:hover {
    color: #fff;
    background-color: #008b8b;
    text-shadow: 0 0 2px #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
}

.product-grid:hover .product-button-group a {
    transform: scale(1);
}

.product-grid .product-content {
    padding: 12px;
}

.product-grid .title {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin: 0 0 5px;
    text-transform: capitalize;
}

.product-grid .title a {
    color: #555;
}

.product-grid .title a:hover {
    color:#008b8b;
}

.product-grid .price {
    font-size:16px;
    color: #555;
    font-weight: 500;
    margin: 0 2px;
}

#footer {
    color: #fff;
    background-color: #008b8b;
    padding: 30px 0 0;
}

#footer h3 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px;
}

#footer h3:after {
    content: '';
    display: block;
    clear: both;
    background-color: #fff;
    height: 2px;
    width: 100px;
    margin: 10px 0 0;
}

#footer p {
    font-size: 14px;
    letter-spacing: 0.5px;
}

#footer a {
    color: #fff;
}

#footer .menu-list {
    margin: 0 0 20px;
    list-style: none;
    padding: 0;
}

#footer .menu-list li {
    margin: 0 0 5px;
}

#footer .menu-list li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    transition: all 0.3s;
}

#footer .menu-list li i {
    display: inline-block;
    width: 15px;
    font-size: 18px;
    margin: 0 10px 0 0;
    vertical-align: top;
}

#footer .menu-list li span {
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 0;
    width: calc(100% - 30px);
    margin: 0 0 5px;
}

#footer .menu-list li a:hover {
    text-shadow: 0 0 5px #000;
}

#footer span {
    text-align: center;
    display: block;
    padding: 10px 0;
}

.user-signup {
    max-width:700px !important;
    height: 450px !important;
}

.signup-title {
    font-weight: 600;
    size: 16px;
    color: #141414;
    line-height: 21.86px;
}

.bottom-buttons {
    justify-content: end !important;
}

.signup-button {
    background-color: #008b8b;
    color: white;
}

.owl-carousel {
    display: block !important;
    display: flex !important;
}

.product-grid {
    width: 220px !important;
    margin-right: 10px !important;
}
