.single-product-container {
    padding: 25px 0;
    min-height: 700px;
}

.single-product-container
.product-image {
    text-align: center;
}

.single-product-container
.product-image img {
    width: 100%;
}

.single-product-container
.product-content {
}

.single-product-container
.product-content .title {
    font-size: 25px;
    margin: 0 0 10px;
}

.single-product-container
.product-content
.price {
    font-size: 23px;
    margin: 0 0 5px;
}

.single-product-container
.product-content
.description {
    font-size: 15px;
    margin: 0 0 20px;
    letter-spacing: 0.5px;
}

.single-product-container
.product-content a {
    font-size: 15px;
    font-weight: 600;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    color: #fff;
    background-color: #008b8b;
    padding: 7px 15px;
    display: inline-block;
    border: 3px solid #008b8b;
    border-radius: 20px;
    transition: all 0.3s;
}

.single-product-container
.product-content a:hover {
    background-color: #fff;
    color: #008b8b;
}

.breadcrumb {
    background-color: transparent !important;
    padding: 0 !important;
    margin-bottom: 20px !important;
    list-style: none !important;
    border-radius: 4px !important;
}

.breadcrumb li {
    font-size: 16px !important;
}

.breadcrumb li a {
    color: #000 !important;
    transition: all 0.3s ease !important;
}

.breadcrumb li a:hover {
    color: #008b8b !important;
}

.qty-input {
    width: 25% !important;
    margin: 15px 0px !important;
}
