/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiY3VzdG9tLmNzcyIsInNvdXJjZXMiOlsiY3VzdG9tLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiJ9 */


/*# sourceMappingURL=custom.css.map */

.main-sidebar,
.navbar {
    background-color: #161140 !important;
}

.theme-white .navbar .nav-link .feather {
    color: white !important;
}

.btn-indigo {
    background-color: #161140 !important;
    color: white !important;
}

.header-logo {
    height: 50px !important;
}

.sidebar-menu>li>a {
    color: white !important;
}

.sidebar-menu>li.active>a {
    color: white !important;
    background-color: #FF1D1D !important;
}

.sidebar-menu li a:hover {
    color: black !important;
    background-color: white !important;
}

a.dropdown-item:focus,
a.dropdown-item:hover,
a.dropdown-item:active,
a.dropdown-item.active {
    background-color: #FF1D1D !important;
    color: white !important;
}

.page-link:active {
    background-color: #161140 !important;
    border-color: #161140 !important;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #161140 !important;
    border-color: #161140 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #120d29;
}

.dropdown {
    background-color: #17a2b8 !important;
    padding: 2% 10% 2% 10% !important;
    border-radius: 8px !important;
}

.dropdown a {
    color: white;
}

.dropdown-menu {
    padding-left: 15% !important;
}

.dropdown-menu a {
    color: black !important;
}

